@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
.shop-unit{
  width: 380px!important;
  background-color: #c6bdc1;
  text-align: center;
}
.basket{
  position: relative;
}
.name {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.basket-num{
  display: inline-block;
  font-size: 30px;
  color:#4d4aff;
  position: absolute;
  bottom: 1px;
  left: 0;
}
h5{
  display:inline-block;
}
.all-units > span{
  font-size: 23px;
}
.unit-container{
  min-width: 480px!important;
}